bin/
data/
uploads/
thumbnails/
.env
*.log
mnt/
/template/
/templates/
.temp/
temp/
temp_*/
opt/envs/.env_*
opt/*.json

# 🛡️ Vault (Encrypted secrets)
# This allows *.gpg files everywhere, including inside opt/envs/
!*.gpg
